<div class="container-fluid">

    <!-- Upload Form -->
    <form
        id="uploadForm"
        action="/upload"
        method="post"
        enctype="multipart/form-data">

        <input
            type="hidden"
            name="path"
            value="{{ current_path }}">

        <input
            id="fileInput"
            type="file"
            name="file"
            multiple
            hidden>

    </form>


    <!-- Explorer -->

    {% if items %}

        {% for i in items %}

        <div class="card mb-2 shadow-sm file-card">

            <div class="card-body file-card-body">

                <!-- File / Folder Info -->
                <div class="file-info">

                    {% if i.dir %}

                        <a
                            class="text-decoration-none fw-bold"
                            href="/?path={{ i.path }}">

                            📁 {{ i.name }}

                        </a>

                        <div class="text-muted small">
                            Folder
                        </div>

                    {% else %}

                        <div class="fw-semibold">
                            📄 {{ i.name }}
                        </div>

                        <div class="text-muted small">
                            {{ i.size }}
                        </div>

                    {% endif %}

                </div>


                <!-- Actions -->
                <div class="file-actions d-flex gap-3">

                    <!-- Rename: File dan Folder -->
                    <button
                        type="button"
                        class="btn btn-warning btn-sm btn-rename"
                        data-name="{{ i.name }}"
                        data-path="{{ current_path }}">

                        <i class="bi bi-pencil"></i>
                        Rename

                    </button>

                    {% if not i.dir %}

                    <!-- Download: hanya File -->
                    <a
                        class="btn btn-success btn-sm d-flex align-items-center"
                        href="/download/{{ i.path }}">

                        <i class="bi bi-download me-1"></i>
                        Download

                    </a>
                    {% endif %}

                     <!-- Delete: File dan Folder -->
                    <button
                        type="button"
                        class="btn btn-danger btn-sm btn-delete"
                        data-name="{{ i.name }}"
                        data-path="{{ current_path }}"
                        data-dir="{{ 'true' if i.dir else 'false' }}">

                        <i class="bi bi-trash"></i>
                        Delete
                    </button>

                </div>

            </div>

        </div>

        {% endfor %}

    {% else %}

    <div class="alert alert-secondary">
        Folder kosong.
    </div>

    {% endif %}

</div>