<aside class="app-sidebar bg-body-secondary shadow" data-bs-theme="light">

    <div class="sidebar-brand">
        <a href="/" class="brand-link text-decoration-none">
            <span class="brand-text fw-bold">
                📁 File Server
            </span>
        </a>
    </div>

    <div class="sidebar-wrapper">

        <nav class="mt-2">

            <ul class="nav sidebar-menu flex-column"
                data-lte-toggle="treeview"
                role="menu">

                <li class="nav-item">
                    <a href="/" class="nav-link active">
                        <i class="bi bi-house-door"></i>
                        <p>Home</p>
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/" class="nav-link">
                        <i class="bi bi-folder-fill"></i>
                        <p>Shared</p>
                    </a>
                </li>

                <li class="nav-header">
                    QUICK ACCESS
                </li>

                <li class="nav-item">

                    <a
                        href="#"
                        class="nav-link"
                        id="btnSidebarFavorite"
                        data-path="{{ current_path }}">
                        <i
                            id="favoriteStar"
                            class="bi {{ 'bi-star-fill is-favorite' if is_favorite else 'bi-star' }}">
                        </i>

                        <p>Favorites</p>
                    </a>

                </li>

                {% if favorite_paths %}
                    {% for favorite in favorite_paths %}

                    <li class="nav-item">

                        <a
                            href="/?path={{ favorite }}"
                            class="nav-link ps-4">

                            <i class="bi bi-folder-fill"></i>

                            <p>{{ favorite.split('/')[-1] }}</p>

                        </a>

                    </li>

                    {% endfor %}
                {% endif %}

                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="bi bi-clock-history"></i>
                        <p>Recent</p>
                    </a>
                </li>

                {% if recent_paths %}
                    {% for recent in recent_paths %}

                    <li class="nav-item">
                        <a
                            href="/?path={{ recent }}"
                            class="nav-link ps-4">
                            <i class="bi bi-folder-fill"></i>
                            <p>{{ recent.split('/')[-1] }}</p>
                        </a>
                    </li>

                    {% endfor %}
                {% endif %}

            </ul>

        </nav>

    </div>

</aside>